 <%= link_to "&larr; Cancel".html_safe, @project, class: "font-semibold text-blue-500 hover:text-blue-400 my-4" %>

<h1 class="text-3xl font-extrabold">Edit "<%= @project.name %>" </h1>

<%= render "form", project: @project %>
